/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.center{
  text-align: center;
}


ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
}

.product-gallery {
	padding-left: 15px;
	width: 33%;
}